.container_todo_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-radius: 4px;
  height: max-content;
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: rgb(247, 197, 197);
}

.completed {
  background-color: rgb(203, 247, 197);
}
