.container_simple_widget {
  cursor: default;
  min-height: 200px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  padding-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  & .container_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .title {
      font-size: 16px;
    }

    & .container_info_text {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;

      & .container_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .text_title {
          font-size: 32px;
        }
        & .text_subtitle {
          font-size: 16px;
          opacity: 0.7;
        }
      }
    }
  }

  & .footer_widget {
    cursor: pointer;
    border-top: 1px solid #d4d4d4;
    width: 100%;
    color: #76abae;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
  }
}
