.container_dashboard_layout{
    display: flex;
    overflow-y: hidden;
    width: 100%;
    & .container_nav_pages{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
        & .container_page{
            display: flex;            
            flex-direction: column;
            overflow-y: auto;
            max-height: 90vh;
        }
    }
}