.container_new_todo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px 20px;
  padding-inline: 20px;
  margin-bottom: 20px;
  background-color: #31363F;

  & .container_buttons{
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
